__pycache__/
*.py[cod]
.venv/
env/
logs
venv/
.DS_Store
*.logs
*.log
checkpoints/
lightning_logs/
.vscode/
.env
analysis_outputs
qualitative_plots
data/CT_Features
data/clinical+genomic_split.csv
data/CT_patientfiles.csv